/* .container{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* margin-top: 30px;
    align-self: center; */
    
/* } */
.form-control{
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0px;
}
.material-symbols-outlined{
    cursor: pointer;
}
#content, #content-edit {
    display: none;
    margin-top: 20px;
  }

  #showButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }

.form--hidden{
    display: none;
  
}


.nav img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: -8px 0;
    float: left;
    margin-right: 10px;
}




.navbar .social-btn .btn-info:hover {
    background: #4ec7ef;
}
.navbar .social-btn .btn i {
    margin-right: 5px;
    font-size: 16px;
    position: relative;
    top: 2px;
}


.searchfield{
    width: 350px;
    border: none;
    border-bottom: 1px solid black;
    padding-left: 10px;

}

.new_title{
    margin-right: 200px;
    font-size: 20px;
}
.ml{
    margin-left: 100px;
    width: 340px;
    box-shadow: 3px 2px 2px rgb(0, 0, 0, 0.6);
    border: none;
}
.ml-1{
    margin-left: 60px;
    width: 290px;
    box-shadow: 3px 2px 2px rgb(0, 0, 0, 0.6);
    border: none;
}
.ml-2{
    margin-left: 70px;
    width: 280px;
    box-shadow: 3px 2px 2px rgb(0, 0, 0, 0.6);
    border: none;
    padding-left: 7px;
}
.new_item{
    width: 400px;
    margin-left: 20pX;
    border: none;
    border-bottom: 1px solid black;
}
.icon-h{
    margin-right: 20px;
    cursor: pointer;
    width: 30px;
}
.bi-trash{
    color: red;
}
.bi-pencil{
    color: blue;
}
.bi-eye{
    color: orange;
}
.container-sm{
    width: 250px;
}